// Body
// --------------------------------------------------
body {
	font-family: $base-font;
	color: $text-color;
}

// Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}
h1 {
	@include font-rem(48);
	//@media #{$medium} {
	//	@include font-rem(32);
	//}
}

h2 {
	@include font-rem(40);
}

h1.entry-title {
	@include font-rem(34);
}

h3 {
	@include font-rem(28);
}
h4 {
	@include font-rem(24);
}
h5 {
	@include font-rem(18);
}

// Links
// --------------------------------------------------
a { 
	position: relative;
	text-decoration: none;
	color: $link-color;
	&:visited { 
		color: $link-color;
	}
	&:hover { 
		color: darken($link-color, 5%);
	}
	&:focus { 
		outline: thin dotted; 
		color: darken($link-color, 5%);
	}
	&:hover, 
	&:active { 
		outline: 0; 
	}
}
.entry-content {
	a:not(.tag)::after {
		content: '';
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: $link-color;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform .4s ease-in-out;
		transition-delay: .1s;
	}
	a:hover {
		&:after {
			transform: scaleX(1);
    		transition-delay: 0s;
		}
	}
}

.link-arrow {
	font-weight: 100;
	text-decoration: underline;
	font-style: normal;
}

// Figures
// --------------------------------------------------
figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

// Note text
// --------------------------------------------------
.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(14);
	background-color: $body-color;
	border: 1px solid darken($body-color,20);
	@include rounded(3px);
}

// Blockquotes
// --------------------------------------------------
blockquote {
	&::before {
		content: '\201C';
		font-size: 400%;
		left: -12px;
		line-height: .5;
		position: absolute;
	}
	padding: 1.125em 2.566em;
    font-style: italic;
    position: relative;
	font-size: 20px;
	line-height: 1.7;
}

// List items
// --------------------------------------------------
.entry-content li {
	margin-bottom: 7px;
}

// Footnotes
// --------------------------------------------------
.entry-content .footnotes {
	ol, li, p {
		@include font-size(17);
	}
}

// Code
// --------------------------------------------------
tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li { 
	code {
		@include font-rem(13);
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: lighten($black, 95);
		@include rounded(3px);
		font-style: normal;
	}
}
pre {
	@include font-rem(13);
	line-height: 1.5;
	overflow-x: auto;
	&::-webkit-scrollbar {
		height: 12px;
		background-color: #34362e;
		border-radius: 0 0 4px 4px;
	}
	&::-webkit-scrollbar-thumb:horizontal {
		background-color: #6a6d5d;
		@include rounded(4px);
	}
}
