// Page
// --------------------------------------------------

$feature-image-height: 300px; // min 150px recommended
$front-page-feature-image-height: 300px; // min 150px recommended

// Typography
// --------------------------------------------------

$base-font: 'Space Mono', Calibri, Arial, sans-serif;
$heading-font: 'Josefin Slab';
$caption-font: $base-font;
$code-font: 'Fira Mono';
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 26;


// set-up the body font-size / line-height
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;	
}


// Colors
// --------------------------------------------------
$base-color				 : #2B2D42;
$body-color      		 : #EDF2F4;
$text-color      		 : rgba($base-color, 1);
$comp-color 	 		 : complement(#222);
$white           		 : #fcfdfd;
$black           		 : #000;
$link-color 		     : #EF233C;
$border-color    		 : lighten($link-color, 10%);
$meta-color				 : #8D99AE;

$primary			       : #2E3C40;
$success			       : #5cb85c;
$warning			       : #dd8338;
$danger				       : #C64537;
$info				       : #308cbc;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";